body{
    background-color: rgb(198, 217, 236);
 }
 
 
 .myTable{
     border: 2px;
     border-style: solid;
     text-align: center;
     margin: 0 auto;
     background-color: snow;
 
 }
 th,td{
     width: 2em;
     height: 2em;
     border: 2px;
     border-style: solid;
     margin-top: 0em;
     margin-left: 0em;
     margin-bottom: 0em;
     margin-right: 0em;
 }
 .inputTable{
     width: 2em;
     height: 2em;
 }
 
 h1{
     color: rgb(0, 0, 230);    
 }
 
 h3{
     color:  rgb(0, 0, 230);   
     text-align: center;
 }
 
 input{
     width: 100%;
     text-align: center;
     border-radius: 5px;
     color: snow;
     background-color: rgb(0, 0, 230);;
     border-color:  rgb(0, 0, 230);;
     font-style: oblique;
 }
 main {
     margin-top: 1em;
 }
 
 input:hover{
     background-color: rgb(51, 133, 255);
 }
 